.listItemCard {
  background-color: #b5eaea !important;
  border-radius: 20px;
  width: fit-content;
  margin: 25px !important;
  display: inline-block;
  padding: 10px 20px !important;
}
.MuiSvgIcon-root {
  fill: cadetblue !important;
  float: right;
}
.MuiListItem-root {
  color: #e98580;
}

Form > Button {
  color: black !important;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100vw !important;
  }
  .listItemCard {
    width: 80vw;
  }
  .MuiFormControl-root {
    height: 60px;
    width: 250px;
  }
  .MuiInputBase-root {
    font-weight: 900 !important;
  }
}
